::-moz-selection {
   /* Code for Firefox */
   color: white;
   background: #e76e77;
}

::selection {
   color: white;
   background: #e76e77;
}

body {
   font-family: 'Poppins', sans-serif;
}

.btn-pink {
   background: linear-gradient(to right, #F691A3, #EB757E, #EB757E, #F691A3);
   background-position: left;
   background-size: 320%;
   box-shadow: 0px 16px 40px rgba(235, 117, 126, 0.3);
   border-radius: 50px;
   color: white !important;
   font-family: 'Poppins';
   font-weight: 500;
   font-size: 18px;
   line-height: 27px;
   padding: 12px 42px 12px !important;
   transition: all 0.3s ease-in-out;
} .btn-pink:hover {
   background-position: right;
   font-size: 19px;
}


/* Begin: NAVBAR */
.navbar {
   height: 120px;
}

.navbar .container-fluid {
   padding: 0 5rem 0 !important;
}

.modal-body {
   background: linear-gradient(178.69deg, rgba(56, 99, 135, 1) 1.12%, rgba(42, 78, 109, 1) 98.88%);
}

.modal-body-content {
   position: relative;
   top: 42%;
}

.modal-body-content .kendal-logo {
   font-size: 52px;
}

.modal-body-content .spinner-white {
   color: #fff !important;
   margin-left: -10px;
}
.modal-body-content .spinner-pink {
   color: #EB757E !important;
   margin-left: -22px;
}

.kendal-logo {
   font-family: 'Playfair Display', serif !important;
   font-size: 40px;
   color: white !important;
}

.kendal-logo span {
   color: #EB757E !important;
}

.navbar-nav-left a {
   color: #1C1C1C !important;
   font-size: 18px;
   font-weight: 500;
   transition: all 0.2s ease-in-out;
} .navbar-nav a:hover {
   font-size: 18.5px;
}

.navbar-nav-left a.active::after {
   content: "";
   width: 30%;
   border-bottom: 4px solid #E76E77;
   display: block;
   margin: 0 auto;
   text-align: center;
}

.navbar-nav-left li {
   margin-right: 120px !important;
}

.dropdown li {
   margin-right: 0 !important;
}

.dropdown i {
   font-size: 14px;
   padding-top: 3px;
   vertical-align: top;
}

.dropdown-menu {
   border: 0;
   padding: 16px 16px;
   border-radius: 16px;
   filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.2));
}

.dropdown-item {
   border-radius: 30px;
   font-weight: 500 !important;
} .dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active {
   background: linear-gradient(to right, #F691A3, #EB757E);
   color: white !important;
}
/* End: NAVBAR */



.container-main {
   position: absolute;
   width: 100%;
   top: 0;
   z-index: -1;
}



/* Begin: HERO */
.hero-left {
   position: relative;
   padding: 0;
   overflow: hidden;
}

.blue-overlay {
   position: relative;
   background: linear-gradient(178.69deg, rgba(56, 99, 135, 0.94) 1.12%, rgba(42, 78, 109, 0.8) 98.88%);
   height: 800px;
}

#hero .carousel {
   position: absolute;
   margin-left: -30%;
   z-index: -10;
}

#hero .carousel-item img {
   height: 800px;
   filter: grayscale(80%);
}

#hero .carousel-control-container {
   position: absolute;
   top: auto; left: 0; bottom: 0; right: 0;
   margin: 0 auto 0;
   width: fit-content;
   z-index: 10;
}

#hero .carousel-control-container i {
   color: rgba(255, 255, 255, 0.6);
   font-size: 40px;
   transition: all .3s ease-in-out;
}
#hero .carousel-control-container .btn-prev:hover i,
#hero .carousel-control-container .btn-next:hover i {
   color: rgba(255, 255, 255, 0.96);
}

.btn-prev,
.btn-next {
   padding: 0;
}

.kendal-map {
   position: absolute;
   top: 0; left: 0; bottom: 0; right: 0;
   margin: auto;
   width: 200px;
   filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.1));
   z-index: 1000;
}

.hero-center {
   position: relative;
   margin-top: 160px;
   z-index: 100;
}

.hero-title {
   font-family: 'Playfair Display', sans-serif;
   font-size: 56px;
}

.hero-text {
   font-size: 18px;
   line-height: 27px;
}

.btn-hero-down {
   font-size: 28px;
   width: fit-content;
   padding: 12px 17px 12px !important;
} .btn-hero-down:hover {
   font-size: 30px;
}

.container-main {
   overflow-x: hidden;
}

.hero-right {
   margin-top: 158px;
   padding: 0;
   filter: drop-shadow(0px 16px 40px rgba(0, 0, 0, 0.15));
}

.hero-image {
   position: absolute;
   border-radius: 540px 0 0 540px;
   object-fit: cover;
   width: 540px;
}

.hero-route {
   position: absolute;
   top: 0; left: 0; bottom: 0; right: 0;
   width: 100%;
   padding: 180px 26vw 0 0;
   text-align: end;
}
/* End: HERO */



/* Begin: DESTINASI WISATA */
.wisata {
   background: #F9F9F9 url("../assets/images/bg-map.png") no-repeat center center;
   background-size: contain;
   padding-bottom: 280px;
}

.wisata h1 {
   margin-top: 120px;
   margin-bottom: 86px;
   font-family: 'Playfair Display', sans-serif;
   font-size: 40px;
   font-weight: 700;
}
.wisata h1::after{
   content: "";
   width: 60px;
   border-bottom: 5px solid #E76E77;
   display: block;
   margin: 10px auto;
   text-align: center;
}

.destinasi-content {
   position: relative;
   height: 500px;
   filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.2));
}

.destinasi-content-border{
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   border: 8px solid transparent;
   border-radius: 30px;
   background: linear-gradient(45deg, #F691A3, #EB757E, #EB757E, #F691A3) border-box;
   -webkit-mask: /*4*/
      linear-gradient(#fff 0 0) padding-box, 
      linear-gradient(#fff 0 0);
   -webkit-mask-composite: xor; /*5'*/
      mask-composite: exclude; /*5*/
   z-index: 1000;
}

.destinasi-content img {
   width: 100%;
   height: 100%;
   border-radius: 30px;
   object-fit: cover;
}

.destinasi-content-text {
   position: absolute;
   bottom: 0;
   max-width: 90%;
   background: linear-gradient(90.19deg, #386387 0.14%, #2A4E6D 99.82%);
   border-radius: 0 30px 0 30px;
   padding: 20px 30px 0;
}

.destinasi-content-text h2 {
   color: white;
   font-family: 'Poppins', sans-serif;
   font-size: 26px;
   font-weight: 700;
   margin-bottom: 2px;
}

.destinasi-content-text p {
   color: white;
   font-family: 'Poppins', sans-serif;
   font-size: 16px;
   font-weight: 400;
}
/* End: DESTINASI WISATA */



/* Begin: FOOTER */
.footer {
   position: relative;
   background: linear-gradient(90.19deg, #386387 0.14%, #2A4E6D 99.82%);
}
.footer-main{
   padding-top: 70px;
   padding-bottom: 90px;
}
.footer-border-top {
   position: absolute;
   top: 0;
   margin-top: -3px;
   border-top: 6px solid #E76E77;
   border-radius: 60px;
}
.footer-main-text {
   color: white;
   font-size: 18px;
   line-height: 27px;
}
.footer-link {
   color: white !important;
   font-family: 'Poppins', sans-serif;
   font-size: 20px;
   font-weight: 700;
   text-decoration: none;
   transition: .3s all ease-in-out;
} .footer-link:hover {
   color: #E76E77 !important;
}

.footer-copyright {
   background: #24435E;
   color: #E76E77;
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
   font-weight: 500;
   padding-top: 26px;
   padding-bottom: 26px;
}
.footer-copyright span {
   color: white;
}
/* End: FOOTER */




/* BREAKPOINTS */


/* [Custom] | 1600px < | */
@media only screen and (min-width: 1600px) {
   .hero-route {
      padding: 180px 30vw 0 0;
   }
}

/* [XXL] Extra Extra large devices | 1400px < | */
@media only screen and (min-width: 1400px) {
   .hero-image {
      border-radius: 540px;
      object-fit: cover;
      width: 660px;
      height: 660px;
   }
}

/* [XL] Extra large devices (large laptops and desktops) | < 1400px | */
@media only screen and (max-width: 1400px) {}

/* [LG] Large devices (laptops/desktops) | < 1200px | */
@media only screen and (max-width: 1200px) {
   .navbar-nav-left li {
      margin-right: 80px !important;
   }
   .hero-route {
      padding: 180px 22vw 0 0;
   }
   .hero-image {
      border-radius: 1000px 0 0 1000px;
      object-fit: cover;
      width: 160%;
   }
}

/* [MD] Medium devices (landscape tablets) | < 992px | */
@media only screen and (max-width: 991px) {
   .navbar {
      height: 100px;
      padding-top: 0;
      padding-bottom: 0;
      align-items: unset;
   }

   .navbar .container-fluid {
      padding: 0 2rem 0 !important;
      background: linear-gradient(90.19deg, #386387 0.14%, #2A4E6D 99.82%);
   }

   .navbar-nav-left li {
      margin-right: 40px !important;
   }

   .navbar-toggler {
      border: none;
   } .navbar-toggler:focus {
      box-shadow: none;
   }

   .navbar-toggler i,
   .navbar-nav-left .nav-link {
      color: white !important;
   }

   .dropdown-item {
      color: black !important;
   }

   .hero .container-fluid {
      padding: 0 2rem 0 !important;
   }

   .hero-image-small {
      width: 90%;
      filter: drop-shadow(0px 16px 40px rgba(0, 0, 0, 0.15));
   }
   
}

/* [SM] Small devices (portrait tablets and large phones) | < 768px | */
@media only screen and (max-width: 768px) {
   .navbar {
      height: 80px;
   }
   .navbar-nav-left li {
      margin-right: 0 !important;
   }
   .hero-center {
      margin-top: 150px;
   }
}

/* [XS] Extra small devices (phones) | < 576px | */
@media only screen and (max-width: 576px) {}