.navbar .kendal-logo {
   font-family: 'Playfair Display', serif !important;
   font-size: 40px;
   color: #386387 !important;
}

.navbar .kendal-logo span {
   color: #EB757E !important;
}

.wisata-details {
   margin-top: 184px;
   padding-bottom: 280px;
}

.wisata-top-image-container {
   position: relative;
   filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.15));
   border-radius: 30px;
   overflow: hidden;
}

.wisata-top-image {
   width: 100%;
   height: 460px;
   border-radius: 30px;
   object-fit: cover;
}

.carousel-item {}

.wisata-top-image-border{
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   border: 4px solid transparent;
   border-radius: 30px;
   background: linear-gradient(45deg, #F691A3, #EB757E, #EB757E, #F691A3) border-box;
   -webkit-mask: /*4*/
      linear-gradient(#fff 0 0) padding-box, 
      linear-gradient(#fff 0 0);
   -webkit-mask-composite: xor; /*5'*/
      mask-composite: exclude; /*5*/
}

.wisata-top-info-container {
   position: relative;
   top: -50%;
   height: fit-content;
   padding: 24px 46px;
   background-color:rgba(255, 255, 255, .96);
   border-radius: 30px;
   filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.15));
   z-index: 1000;
}

.border-wisata-info {
   position: absolute;
   left: 50%; right: 50%;
   width: 1px;
   height: 50%;
   background-color: #386387;
   padding: 0;
   margin: 0;
}

.wisata-info i {
   color: #F691A3;
   float: left;
   font-size: 20px;
}

.wisata-info-location .wisata-info-main {
   padding-left: 26px !important;
}

.wisata-info-ticket .wisata-info-main {
   padding-left: 34px !important;
}

.wisata-info-main h4 {
   color: #386387;
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
   font-weight: 700;
   line-height: 16px;
}

.wisata-info-main p {
   color: #386387;
   font-family: 'Poppins', sans-serif;
   font-size: 14px;
   font-weight: 400;
   margin-bottom: 0;
}

.wisata-info-location {
   margin-right: 32px;
}

.wisata-info-ticket {
   margin-left: 32px;
}



.wisata-bottom h1 {
   font-family: 'Playfair Display', sans-serif;
   font-size: 40px;
   font-weight: 700;
   margin-top: 20px;
   margin-bottom: 36px;
   text-align: center;
}
.wisata-bottom h1::after{
   content: "";
   width: 60px;
   border-bottom: 5px solid #EB757E;
   display: block;
   margin: 16px auto;
   text-align: center;
}

.wisata-bottom p {
   font-family: 'Poppins', sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 36px;
   margin-bottom: 24px;
}


/* [XXL] Extra Extra large devices | 1400px < | */
@media only screen and (min-width: 1400px) {

}

/* [XL] Extra large devices (large laptops and desktops) | < 1400px | */
@media only screen and (max-width: 1400px) {

}

/* [LG] Large devices (laptops/desktops) | < 1200px | */
@media only screen and (max-width: 1200px) {

}

/* [MD] Medium devices (landscape tablets) | < 992px | */
@media only screen and (max-width: 993px) {
   .navbar .kendal-logo {
      color: white !important;
   }
   }

/* [SM] Small devices (portrait tablets and large phones) | < 768px | */
@media only screen and (max-width: 768px) {
   .wisata-top-info-container {
      top: -50%;
      padding: 32px 36px;
   }
   .wisata-info-location {
      margin-right: 0;
      margin-bottom: 30px;
   }
   .wisata-info-ticket {
      margin-left: 0;
   }
   .wisata-bottom h1 {
      margin-top: -10px;
   }
}

/* [XS] Extra small devices (phones) | < 575px | */
@media only screen and (max-width: 575px) {
   .wisata-details {
      margin-top: 40px;
   }

   .wisata-top-image-container {
      position: relative;
      filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0));
      border-radius: 0;
   }

   .wisata-top-image {
      width: 100%;
      height: 460px;
      border-radius: 0;
      object-fit: cover;
   }

   .wisata-top-info-container {
      top: 30%;
      background-color:rgba(255, 255, 255, 0);
      filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0));
      z-index: 1000;
   }
   
   .wisata-bottom {
      position: relative;
      margin-top: -260px;
      padding-top: 56px;
      background-color: white;
      border-radius: 30px 30px 0 0;
      filter: drop-shadow(0px -8px 4px rgba(0, 0, 0, .15));
      z-index: 100;
   }

   .wisata-bottom h1 {
      margin-bottom: 220px;
   }
}


/* [Custom] < 363px | */
@media only screen and (max-width: 363px) {
   .wisata-bottom {
      margin-top: -280px;
   }
}

/* [Custom] < 273px | */
@media only screen and (max-width: 273px) {
   .wisata-bottom {
      margin-top: -330px;
   }
}