.navbar .kendal-logo {
   font-family: 'Playfair Display', serif !important;
   font-size: 40px;
   color: #386387 !important;
}

.navbar .kendal-logo span {
   color: #EB757E !important;
}

.wisata-details {
   margin-top: 184px;
   padding-bottom: 280px;
}

.wisata-top-image-container {
   position: relative;
   filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.15));
}

.wisata-top-image {
   width: 100%;
   height: 460px;
   border-radius: 30px;
   object-fit: cover;
}

.wisata-top-image-border{
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   border: 4px solid transparent;
   border-radius: 30px;
   background: linear-gradient(45deg, #F691A3, #EB757E, #EB757E, #F691A3) border-box;
   -webkit-mask: /*4*/
      linear-gradient(#fff 0 0) padding-box, 
      linear-gradient(#fff 0 0);
   -webkit-mask-composite: xor; /*5'*/
      mask-composite: exclude; /*5*/
}

.wisata-top-info-container {
   position: relative;
   top: -50%;
   height: fit-content;
   padding: 24px 46px;
   background-color:rgba(255, 255, 255, .95);
   border-radius: 30px;
   filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.15));
   z-index: 1000;
}

.border-wisata-info {
   position: absolute;
   left: 50%; right: 50%;
   width: 1px;
   height: 60px;
   background-color: #386387;
   padding: 0;
   margin: 0;
}

.wisata-info i {
   color: #F691A3;
   float: left;
   font-size: 20px;
}

.wisata-info-location .wisata-info-main {
   padding-left: 26px !important;
}

.wisata-info-ticket .wisata-info-main {
   padding-left: 34px !important;
}

.wisata-info-main h4 {
   color: #386387;
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
   font-weight: 700;
   line-height: 16px;
}

.wisata-info-main p {
   color: #386387;
   font-family: 'Poppins', sans-serif;
   font-size: 14px;
   font-weight: 400;
   margin-bottom: 0;
}

.wisata-info-location {
   margin-right: 32px;
}

.wisata-info-ticket {
   margin-left: 32px;
}



.wisata-bottom h1 {
   font-family: 'Playfair Display', sans-serif;
   font-size: 40px;
   font-weight: 700;
   margin-bottom: 36px;
   text-align: center;
}
.wisata-bottom h1::after{
   content: "";
   width: 60px;
   border-bottom: 5px solid #EB757E;
   display: block;
   margin: 16px auto;
   text-align: center;
}

.wisata-bottom p {
   font-family: 'Poppins', sans-serif;
   font-size: 16px;
   font-weight: 400;
   line-height: 36px;
   margin-bottom: 24px;
}